jenkins-gitea-sq-registry-portainer/portainer/
jenkins-gitea-sq-registry-portainer/jenkins/
jenkins-gitea-sq-registry-portainer/registry/
jenkins-gitea-sq-registry-portainer/sq/
jenkins-gitea-sq-registry-portainer/pg/
jenkins-gitea-sq-registry-portainer/gitea/

.env